<html class="tui-bg-blue-black" style="font-family: 'Public Pixel', sans-serif;">
<head>
    <title>Add</title>
    <script src=" https://cdn.jsdelivr.net/npm/tuicss@2.1.2/dist/tuicss.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/tuicss@2.1.2/dist/tuicss.min.css " rel="stylesheet"></link>
    <link href="https://fonts.cdnfonts.com/css/public-pixel" rel="stylesheet"></link>
</head>
    <body class="center" style="padding: 50px;">
        <div class="tui-window" style="margin: auto; width: fit-content; height: 300px;">
            <div class="header">
                <span><a class="tui-button" href="{{ url_for('manufacturers') }}">Back to manufacturers</a></span>
            </div>
            <h1>Add a new manufacturer</h1>
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form class="tui-form" method="post">
                <label for="name">Name:</label><br>
                <input class="tui-input" type="text" id="name" name="name" required><br>

                <label for="created_at">Created At:</label><br>
                <input class="tui-input" type="date" id="created_at" name="created_at" required><br>

                <label for="revenue">Revenue:</label><br>
                <input class="tui-input" type="number" id="revenue" name="revenue" min="1" required><br>

                <input class="tui-button" type="submit" value="Add">
            </form>
        </div>
</body>
</html>

